body {
	margin: 0;
	font-family: Arial;
	font-size: 12px;
}

.topo {
	height: 30px;
	background-color: #333333;
}

.topoint {
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin: auto;
}

.topoleft {
	width: 50%;
	height: 30px;
	float: left;
}
.topoleft ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.topoleft li{
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}
.topoleft li a{
	text-decoration: none;
	color: #FFF;
}
.topoleft li .ativo {
	color: #169DD0;
}

.toporight {
	width: 50%;
	height: 28px;
	float: right;
	text-align: right;
	margin-top: 2px;
}
.topo-busca {
	margin: 0px;
	padding: 0px;
	width: 110px;
	height: 22px;
	outline: 0;
	float: right;		
}
.toporight a {
	float: right;
	color: white;
	line-height: 28px;
	font-size: 26px;
	margin-right: 4px;
}
.toporight input{
	float: right;
}

.topo2 {
	height: 95px;
	color: #000;
}

.topo2int {
	width: 100%;
	max-width: 1040px;
	height: 95px;
	margin: auto;
}

.logo {
	width: 230px;
	height: 90px;
	float: left;
	margin-top: 13px;
}
.anuncio-topo {
	width: 650px;
	height: 92px;
	float: right;
	background-color: #169DD0; 
	margin-top: 7px;
}

.menu {
	height: 40px;
	background-color: #169DD0; 
}

.menuint {
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.menuint .fa{
	font-size: 10px;
	color: #FFF;
}
.menu ul {
	/*margin: 0;*/
	padding: 0;
	list-style: none;
}
.menu li {
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}
.menu li:hover .submenu{
	display: block;
}

.menu a {
	text-decoration: none;
	color: #FFF;
}

.submenu {
	width: 120px;
	background-color: #169DD0;
	position: absolute;
	display: none;
}
.submenuitem {
	width: 110px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.submenuitem:hover {
	background: #ff6725;
}	

.ultimas-noticias {
	height: 40px;
}	

.ultimas-noticias-int {
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.ultimas-noticias-area{
	height: 28px;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-top: 10px;
}
.ult-noticias-title {
	background-color: #ff6725;
	color: #FFF;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
.ult-noticias-text {
	color: #58595B;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 5px;
}

.containerint {
	width: 100%;
	max-width: 1040px;
	margin: auto;
}
.leftside {
	width: 753px;
	float: left;
}

.rightside {
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}

.widget {
	border: 1px solid #CCC;
	background-color: #FFF;
	margin-bottom: 10px;
}
.widget-title {
	height: 30px;
	line-height: 30px;
	background-color: #D6D6D6;
	border-bottom: 1px solid #CCC;
	padding-left: 10px;
	font-size: 14px;
}
.widget-conteudo {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.widget-conteudo a {
	color: #ff6725;
	margin-right: 4px;
	font-size: 24px;
}
.noticia-item {
	font-size: 12px;
	margin: 0px 10px;
	padding: 10px 0px;
	text-align: left;
	border-bottom: 1px solid #CCC;
}

.noticia-item a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}

.slideshow {
	height: 335px;
	background-color: #CCC;
	overflow: hidden;
}

.slideshowarea {
	width: 100000px;
	height: 335px;
	transition: all 1s;
}

.slide {
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slideinfo {
	height: 70px;
	background-image: url(../imagens/slideshow_bg.png);
	background-size: auto 70px;
	margin-top: 265px;
}

.slideinfo_title {
	font-size: 16px;
	color: #FFF;
	padding-top: 20px;
	padding-left: 20px;
}

.slideinfo_subtitle {
	font-size: 12px;
	color: #FFF;
	padding-left: 20px;
}

.slidebolinhas {
	position: absolute;
	width: 200px;
	height: 20px;
}

.bolinha {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	background-color: #CCC;
	border-radius: 8px;
}